################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/KTermMonitor/v17
/.vs
/KtermMonitor/obj/Debug
/KtermMonitor/.vs
/KtermMonitor/bin/Debug
/KtermMonitor/bin/Release
/KtermMonitor/obj/Release
